.jumbotron {
    background-color: #ffffff;
    padding: 50px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.jumbotron img {
    width: 400px;
    margin: 30px;
}

.jumbotron h3,
p {
    color: rgb(110, 105, 105);
}

.main-container {
    flex-direction: row;
    display: flex;
    justify-content: center;
}

.package-container {
    margin: 20px;
    padding: 16px;
    border: 3px solid black;
    border-radius: 16px;
    box-shadow: 5px 5px 10px gray;
}

.package-container p {
    color: black
}

.package-container img {
    width: 300px;
}

button {
    background-color: #000000;
    padding: 10px;
    color: white;
    border-radius: 10px;
    border: none;
}

.left {
    margin-left: 60%;
}

table,
th,
td,
tr,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

th {
    background-color: darkseagreen;
    color: white;
}

.table {
    display: flex;
    justify-content: center;
    text-align: center;
}

.table img {
    width: 200px;

}

header {
    background-color: #000000;
    color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
    display: flex;
}

.header-title {
    text-align: left;
    color: white;
    margin: 14px;
    font-size: 23px;
}

nav {
    position: absolute;
    right: 0;
    display: flex;
}

a {
    text-decoration: none;
    color: white;
    float: left;
    padding: 15px;
}

a:hover {
    color: rgb(80, 75, 75);
}

button:hover {
    cursor: pointer;
    background-color: rgb(69, 77, 83);
}

a:hover {
    color: black;
}

.package-container:hover {
    cursor: pointer;
    background-color: rgb(221, 221, 221);
}

footer {
    color: white;
    text-align: center;
    background-color: #2EC1AC;
    padding: 10px;
    margin-top: 50px;
}

.formcontainer {
    text-align: center;
}

.formcontainer img {
    width: 300px;
}

form {
    text-align: left;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

input {
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 3px;
}

label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}

select {
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 3px;
    border-color: rgb(85, 85, 85);
    font: bold;

}

.about {
    display: block;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
    text-align: center;
}

.about h1 {
    text-align: center;
    color: darkorange;
}

.about h3 {
    color: #2EC1AC;
}

.about p {
    color: black;
}
body {
    
        font-family: "Luckiest Guy", cursive;
        font-weight: 300;
        font-style: normal;
      
      
    }